.about {
  height: 464px;
  display: flex;
  gap: 56px;
  padding: 80px 0 80px 104px;
}

.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
}

.about__wrapper {
}

.about__title {
  width: 600px;
  height: 46px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 51px 0 24px;
}

.about__paragraph {
  width: 600px;
  height: 120px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
