.header__main {
  font-family: "Inter";
  font-weight: 400;
  background: url(../../assets/SearchFormBackGroundImage.png) center/cover
    no-repeat;
  max-width: 1440px;
  height: 500px;
}

.header__saved-news {
  font-family: "Inter";
  font-weight: 400;
  background-color: white;
  max-width: 1440px;
  height: 80px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(209, 210, 214, 0.4);
  height: 80px;
  padding-left: 104px;
  padding-right: 104px;
}

.header__logo {
  height: 24px;
  max-width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 1014px) {
  .header__wrapper {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
