.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  font-family: "Roboto";
  padding-left: 104px;
  padding-right: 106px;
}

.footer__copyright {
  color: rgba(182, 188, 191, 1);
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.footer__wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
}

.footer__home-link {
  padding: 0 40px 0 0;
  margin: 0;
  text-decoration: none;
  color: rgba(26, 27, 34, 1);
}

.footer__tripleten-link {
  padding: 0 40px 0 0;
  margin: 0;
  text-decoration: none;
  color: rgba(26, 27, 34, 1);
}

.footer__github-logo {
  height: 26px;
  width: 26px;
  padding: 0 26px 0 0;
  margin: 0;
}

.footer__facebook-logo {
  height: 26px;
  width: 26px;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 1014px) {
  .footer {
    height: 64px;
    padding-left: 40px;
    padding-right: 41px;
  }

  .footer__github-logo {
    height: 24px;
    width: 24px;
    padding: 0 25px 0 0;
  }

  .footer__facebook-logo {
    height: 24px;
    width: 24px;
  }
}
