.news-card__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 64px 104px;
  justify-content: center;
  margin: 0px;
  background-color: rgba(245, 246, 247, 1);
}

@media screen and (min-width: 320px) and (max-width: 1014px) {
  .news-card__list {
    gap: 8px;
    padding: 32px 40px;
  }
}
