.news-card {
  max-width: 400px;
  height: 576px;
  list-style: none;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.news-card:hover {
  cursor: pointer;
}

.news-card__save-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  border-style: none;
}

.news-card__save-button:disabled {
  background: transparent url(../../assets/save-button-unsaved.svg) center
    no-repeat;
}

.news-card__save-button--unsaved {
  background: transparent url(../../assets/save-button-unsaved.svg) center
    no-repeat;
  cursor: pointer;
}

.news-card__save-button--saved {
  background: transparent url(../../assets/save-button-saved.svg) center
    no-repeat;
  cursor: pointer;
}

.news-card__link {
  text-decoration: none;
}

.news-card__image {
  width: 400px;
  height: 272px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.news-card__wrapper {
  padding: 20px 24px 24px;
  font-family: "Roboto";
  color: rgba(26, 27, 34, 1);
}

.news-card__pub-date {
  max-width: 149px;
  height: 24px;
  line-height: 24px;
  margin: 0 0 12px 0;
  color: rgba(182, 188, 191, 1);
}

.news-card__title {
  margin: 0 0 16px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  text-overflow: ellipsis;
}

.news-card__description {
  margin: 0 0 18px;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__author {
  margin: 0;
  font-family: "Roboto Slab";
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: rgba(182, 188, 191, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .news-card {
    max-width: 288px;
    height: 444px;
  }

  .news-card__image {
    width: 288px;
    height: 196px;
  }

  .news-card__wrapper {
    padding: 16px;
  }

  .news-card__pub-date {
    max-width: 256px;
    margin: 0 0 10px;
    font-size: 18px;
  }

  .news-card__title {
    margin: 0 0 14px;
    font-size: 22px;
    line-height: 24px;
    height: 49px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .news-card__description {
    margin: 0 0 8px;
    height: 88px;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}

@media screen and (min-width: 701px) and (max-width: 1014px) {
  .news-card {
    max-width: 224px;
    height: 420px;
  }

  .news-card__image {
    width: 224px;
    height: 150px;
  }

  .news-card__wrapper {
    padding: 16px;
  }

  .news-card__pub-date {
    max-width: 147px;
  }

  .news-card__title {
    margin: 0 0 10px;
    font-size: 22px;
    line-height: 24px;
    height: 74px;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  .news-card__description {
    margin: 0 0 12px;
    height: 88px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }
}
